
<div class="offcanvas offcanvas-start hedar_crol" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title "><i class="fa-solid fa-user-tie"></i><a>HELLO, SIGN in</a></h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="mein_hedar">
        <ul>
            <li><a href="#">Home</a></li>
<li class='sub-menu'><a href='#'>shop by category<div class='fa fa-caret-down right'></div></a>
        <ul>
            <li class='sub-menu inner-item'><a href='#'>fruits & vegetables<div class='fa fa-caret-down right'></div></a>
                <ul>
                    <li><a href='#'>fresh fruit</a></li>
                    <li><a href='#'>fresh vegetables</a></li>
                    <li><a href='#'>herbs & seaninings</a></li>
                    <li><a href='#'>exotic fruits & vegetables</a></li>
                </ul>
            </li>

            <li class='sub-menu  inner-item' ><a href='#'>premium fruits<div class='fa fa-caret-down right'></div></a>
                <ul>
                    <li><a href='#'>avocado,peach,plum</a></li>
                    <li><a href='#'>cherries.berries & exotic fruits</a></li>
                    <li><a href='#'>pomegrante,papaya & pineapple</a></li>
                    <li><a href='#'>citrus,mango & grapes</a></li>
                    <li><a href='#'>apples & pears</a></li>
                    <li><a href='#'>banana,melons & coconuts</a></li>
                    <li><a href='#'>seasonal & minor fruits</a></li>
                    <li><a href='#'>dates</a></li>
                    <li><a href='#'>organic & residue certified</a></li>
                    <li><a href='#'>gift,assorted & xl packs</a></li>
                </ul>
            </li>

           <li class='sub-menu  inner-item'><a href='#'>dairy & bakery<div class='fa fa-caret-down right'></div></a>
             <ul>
                    <li><a href='#'>dairy</a></li>
                    <li><a href='#'>toast & khari</a></li>
                    <li><a href='#'>cakes & muffins</a></li>
                    <li><a href='#'>breads and buns</a></li>
                    <li><a href='#'>baked cookies</a></li>
                    <li><a href='#'>bakery snacks</a></li>
                    <li><a href='#'>batter & chutney</a></li>
                    <li><a href='#'>cheese</a></li>
                    <li><a href='#'>ghee</a></li>
                    <li><a href='#'>panner & tofu</a></li>
                </ul>
            </li>


            <li class='sub-menu  inner-item'><a href='#'>staples<div class='fa fa-caret-down right'></div></a>
             <ul>
                    <li><a href='#'>atta,flours & sooji</a></li>
                    <li><a href='#'>dals & pulses</a></li>
                    <li><a href='#'>rice & rice products</a></li>
                    <li><a href='#'>edible oils</a></li>
                    <li><a href='#'>masalas & spices</a></li>
                    <li><a href='#'>salt,sugar & jaggery</a></li>
                    <li><a href='#'>soya products,wheat & other grains</a></li>
                    <li><a href='#'>dry fruits & nuts</a></li>
                   
                </ul>
            </li>

             <li class='sub-menu  inner-item'><a href='#'>men<div class='fa fa-caret-down right'></div></a>
             <ul>
                    <li><a href='#'>clothing accessories</a></li>
                    <li><a href='#'>western wear</a></li>
                    <li><a href='#'>inner wear</a></li>
                    <li><a href='#'>bags,belts & wallets</a></li>
                    <li><a href='#'>ethnic wear</a></li>
                    <li><a href='#'>footwear</a></li>
                    <li><a href='#'>fusion wear</a></li>
                    <li><a href='#'>night & lounge wear</a></li>
                    <li><a href='#'>fashion jewellary</a></li>
                    <li><a href='#'>eyewear</a></li>
                    <li><a href='#'> night & lounge wear</a></li>
                    <li><a href='#'>watches</a></li>
                    <li><a href='#'>fragrances & deodorants</a></li> 
                </ul>
            </li>

            <li class='sub-menu  inner-item'><a href='#'>women<div class='fa fa-caret-down right'></div></a>
             <ul>
                    <li><a href='#'>ethnic wear</a></li>
                    <li><a href='#'>western wear</a></li>
                    <li><a href='#'>clothing accessories</a></li>
                    <li><a href='#'>lingerie & innerwear</a></li>
                    <li><a href='#'>bags,belts & wallets</a></li>
                    <li><a href='#'>fusion wear</a></li>
                    <li><a href='#'>night & lounge wear</a></li>
                    <li><a href='#'>footwear</a></li>
                    <li><a href='#'>maternity</a></li>
                    <li><a href='#'>lingerie & innerwear</a></li>
                    <li><a href='#'>fashion jewellary</a></li>
                    <li><a href='#'>eyewear</a></li>
                    <li><a href='#'>makeup</a></li>
                    <li><a href='#'>personal care</a></li>
                    <li><a href='#'>hair care</a></li>
                    <li><a href='#'>night & loungwear</a></li>
                    <li><a href='#'>watches</a></li>
                </ul>
            </li>
           <li class='sub-menu  inner-item'><a href='#'>boys<div class='fa fa-caret-down right'></div></a>
             <ul>
                    <li><a href='#'>ethnic wear</a></li>
                    <li><a href='#'>western wear</a></li>
                    <li><a href='#'>clothing accessories</a></li>
                    <li><a href='#'>footwear</a></li>
                    <li><a href='#'>inner & nightwear</a></li>
                    <li><a href='#'>inner wear</a></li>
                    <li><a href='#'>eyewear</a></li>
                    <li><a href='#'>watches</a></li>
                </ul>
            </li>
        
                 <li class='sub-menu  inner-item'><a href='#'>girls<div class='fa fa-caret-down right'></div></a>
             <ul>
                    <li><a href='#'>ethnic wear</a></li>
                    <li><a href='#'>western wear</a></li>
                    <li><a href='#'>clothing accessories</a></li>
                    <li><a href='#'>bags,belts & wallets</a></li>
                    <li><a href='#'>footwear</a></li>
                    <li><a href='#'>inner & nightwear</a></li>
                    <li><a href='#'>inner wear</a></li>
                    <li><a href='#'>eyewear</a></li>
                    <li><a href='#'>watches</a></li>
                </ul>
            </li>
        </ul>
    </li>
            <li><a href="#">My list</a></li>
            <li><a href="#">Jiomart wallet</a></li>
            <li><a href="#">Jiomart cashback</a></li>
            <li><a href="#">Jiomart gift store</a></li>
            <li><a href="#">Giomart gift card</a></li>
            <li><a href="#"> All offers</a></li>
            <li class="hmenu-separator"></li>
        </ul>
    </div>
    <div class="mein_hedar">
        <ul>
            <li><a href="#">My account</a></li>
            <li><a href="#">Need help</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Guide</a></li>
            <li class="hmenu-separator"></li>
        </ul>
    </div>
    <div class="mein_hedar p-3">
        <h2>CONTACT US</h2>
        <p>WhatsApp us :<a href="#"> 70003 70003</a></p>
        <p>Call us :<a href="#"> 1800 890 1222</a><br>8:00 AM to 8:00 PM, 365 days</p>
        <p>Please note that you are accessing the BETA<br> Version of<a href="#"> www.jiomart.com</a> </p>
        <p>Should you encounter any bugs, glitches, lack<br> of functionality, delayed deliveries, billing errors<br> or other problems on the beta website, please<br> email us on<a href="#"> cs@jiomart.com</a></p>
        <h3>DOWNLOAD APP</h3>
        <div class="d-flex">
            <img src="https://www.jiomart.com/images/cms/wysiwyg/app-icons/play_store.png" class="p-2">
            <img src="https://www.jiomart.com/images/cms/wysiwyg/app-icons/ios_store.png" class="p-2">
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light main-menu">
    <div class="container-fluid head_menu">
        
        <button class="btn toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <i class="fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
            <img src="https://www.jiomart.com/assets/version1643825043/smartweb/images/jiomart_logo_beta.svg">
        </a>
        
        <div class="collapse navbar-collapse search_mobile">
            <form class="form-inline my-2 my-lg-0 mx-auto position-relative">
                <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
                <button class="btn my-2 my-sm-0 position-absolute top-0 end-0 serch_btn" type="submit"><i class="fa-solid fa-list"></i></button>
            </form>
            
        </div>
        <ul class="navbar-nav right_head">
            <li class="nav-item">
                <a class=" btn-link" href="#"> <span class="badge badge-danger"></span></a>
            </li>
            <li class="nav-item ml-md-3">
                <a class="" href="#"><i class="fa-solid fa-user"></i><span class="login"> Sign In / Sign Up</span></a>
            </li>
            <li class="nav-item ml-md-3">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i><span class="cart"> cart</span></a>
            </li>
        </ul>
        
    </div>
</nav>