<div class="mein_23">
    <div class="container-fluid">
        <div class="mein_hed mb-2">
            <ul>
                <li><div class="d-flex align-items-center"><i class="fa-solid fa-location-pin"></i><h3><a>Deliver to</a><br>400020</h3></div></li>
                <li><a href="#">Fruits & Vegetables</a><i><i class="fa-solid fa-chevron-down"></i></i>
                    <ul class="hover_1">
                        <li><a href="#">fresh fruits</a></li>
                        <li><a href="#">fresh vejetables</a></li>
                        <li><a href="#">herbs & seaninings</a></li>
                        <li><a href="#">exotic fruits & vejetables</a></li>
                    </ul>
                </li>
                    <li><a href="#">Premium Fruits</a><i><i class="fa-solid fa-chevron-down"></i></i>
                    <ul class="hover_1">
                        <li><a href="#"> Avocado, Peach, Plum</a> </li>
                        <li><a href="#"> Cherries, Berries & Exotic Fruits</a> </li>
                        <li><a href="#"> Pomegranate, Papaya & Pineapple</a> </li>
                        <li><a href="#"> Citrus, Mango & Grapes</a> </li>
                        <li><a href="#"> Apples & Pears</a> </li>
                        <li><a href="#"> Banana, Melons & Coconut</a> </li>
                        <li><a href="#"> Seasonal & Minor Fruits</a> </li>
                        <li><a href="#"> Dates</a> </li>
                        <li><a href="#"> Organic & Residue Certified</a> </li>
                        <li><a href="#"> Gift, Assorted & XL Packs</a> </li>
                    </ul></li>
            <li><a href="#">Dairy & Bakery</a><i><i class="fa-solid fa-chevron-down"></i></i>
            <ul class="hover_1">
                <li><a href="#"> Dairy </a></li>
                <li><a href="#"> Toast & Khari </a></li>
                <li><a href="#"> Cakes & Muffins </a></li>
                <li><a href="#"> Breads and Buns </a></li>
                <li><a href="#"> Baked Cookies </a></li>
                <li><a href="#"> Bakery Snacks </a></li>
                <li><a href="#"> Batter & Chutney </a></li>
                <li><a href="#"> Cheese</a></li>
                <li><a href="#"> Ghee </a></li>
                <li><a href="#"> Paneer & Tofu </a></li>
            </ul></li>
            <li><a href="#">Staples</a><i><i class="fa-solid fa-chevron-down"></i></i>
            <ul class="hover_1">
                <li><a href="#"> Atta, Flours & Sooji </a></li>
                <li><a href="#"> Dals & Pulses </a></li>
                <li><a href="#"> Rice & Rice Products </a></li>
                <li><a href="#"> Edible Oils </a></li>
                <li><a href="#"> Masalas & Spices </a></li>
                <li><a href="#"> Salt, Sugar & Jaggery </a></li>
                <li><a href="#"> Soya Products, Wheat & Other Grains </a></li>
                <li><a href="#"> Dry Fruits & Nuts </a></li>
            </ul></li>
            <li><a href="#">Men</a><i><i class="fa-solid fa-chevron-down"></i></i>
            <ul class="hover_1">
                <li><a href="#"> Clothing Accessories </a></li>
                <li><a href="#"> Western Wear </a></li>
                <li><a href="#"> Inner Wear </a></li>
                <li><a href="#"> Bags, Belts & Wallets </a></li>
                <li><a href="#"> Ethnic Wear </a></li>
                <li><a href="#"> Footwear </a></li>
                <li><a href="#"> Fusion Wear </a></li>
                <li><a href="#"> Night & Lounge Wear </a></li>
                <li><a href="#"> Fashion Jewellery </a></li>
                <li><a href="#"> Eyewear </a></li>
                <li><a href="#"> Night & Loungewear </a></li>
                <li><a href="#"> Watches </a></li>
                <li><a href="#"> Fragrances & Deodorants </a></li>
            </ul>
        </li>
        <li><a href="#">Women</a><i><i class="fa-solid fa-chevron-down"></i></i>
        <ul class="hover_1">
            <li><a href="#"> Ethnic Wear </a></li>
            <li><a href="#"> Western Wear </a></li>
            <li><a href="#"> Clothing Accessories </a></li>
            <li><a href="#"> Lingerie & Innerwear </a></li>
            <li><a href="#"> Bags, Belts & Wallets </a></li>
            <li><a href="#"> Fusion Wear </a></li>
            <li><a href="#"> Night & Lounge Wear </a></li>
            <li><a href="#"> Footwear </a></li>
            <li><a href="#"> Maternity </a></li>
            <li><a href="#"> Lingerie & Innerwear </a></li>
            <li><a href="#"> Fashion Jewellery </a></li>
            <li><a href="#"> Eyewear </a></li>
            <li><a href="#"> Makeup </a></li>
            <li><a href="#"> Personal Care </a></li>
            <li><a href="#"> Hair Care </a></li>
            <li><a href="#"> Night & Loungewear </a></li>
            <li><a href="#"> Watches </a></li>
        </ul>
    </li>
    <li><a href="#">Boys</a><i><i class="fa-solid fa-chevron-down"></i></i>
    <ul class="hover_1">
        <li><a href="#"> Western Wear </a></li>
        <li><a href="#"> Ethnic Wear </a></li>
        <li><a href="#"> Clothing Accessories </a></li>
        <li><a href="#"> Footwear </a></li>
        <li><a href="#"> Inner & Nightwear </a></li>
        <li><a href="#"> Inner Wear </a></li>
        <li><a href="#"> Eyewear </a></li>
        <li><a href="#"> Watches </a></li>
    </ul>
</li>
<li><a href="#">Girls</a><i><i class="fa-solid fa-chevron-down"></i></i>
<ul class="hover_1">
    <li><a href="#"> Western Wear </a></li>
    <li><a href="#"> Ethnic Wear </a></li>
    <li><a href="#"> Clothing Accessories </a></li>
    <li><a href="#"> Bags, Belts & Wallets </a></li>
    <li><a href="#"> Footwear </a></li>
    <li><a href="#"> Inner & Nightwear </a></li>
    <li><a href="#"> Inner Wear </a></li>
    <li><a href="#"> Eyewear </a></li>
    <li><a href="#"> Watches </a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
